@charset "UTF-8";
/*
MEDIA QUERY MANAGER - 
----------------------
0 to 600px – PHONES ONLY
600px to 900px – TABLET PORTRAIT
900px to 1200px – TABLET LANDSCAPE
1200px to 1800px – DESKTOP
1800px and more – BIG DESKTOP
-----------------------------------

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  line-height: 1.6;
  font-family: "Montserrat", sans-serif; }

.close {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  cursor: pointer;
  fill: #fff;
  transition: all 0.4s;
  z-index: 999; }
  .close:hover {
    transform: rotate(120deg);
    fill: rgba(255, 255, 255, 0.6); }
  @media only screen and (max-width: 37.5em) {
    .close {
      top: 7rem; } }

.ecolizer-box {
  cursor: pointer;
  width: 5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  position: relative; }
  .ecolizer-box__cancel {
    background-color: rgba(255, 12, 0, 0.8);
    width: 1rem;
    height: 90%;
    position: absolute;
    top: 1px;
    left: 2rem;
    transform: rotate(65deg); }
  .ecolizer-box__item {
    width: 0.5rem;
    height: 1rem;
    background-color: white; }
    .ecolizer-box__item:not(:last-child) {
      margin-right: 0.3rem; }
    .ecolizer-box__item--1 {
      animation-name: ecolizer1;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      background-color: #fff; }
    .ecolizer-box__item--2 {
      animation-name: ecolizer2;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      background-color: #fff; }
    .ecolizer-box__item--3 {
      background-color: #fff;
      animation-name: ecolizer3;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      background-color: #fff; }
    .ecolizer-box__item--4 {
      animation-name: ecolizer4;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      background-color: #fff; }

#audio {
  height: 0;
  width: 0;
  display: none; }

.valid-phone,
.fill-all {
  width: 50%;
  height: 50%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  background-color: white;
  font-size: 2.5rem;
  font-weight: 800; }
  @media only screen and (max-width: 75em) {
    .valid-phone,
    .fill-all {
      width: 65%;
      height: 65%; } }
  @media only screen and (max-width: 56.25em) {
    .valid-phone,
    .fill-all {
      width: 80%;
      height: 80%; } }
  @media only screen and (max-width: 37.5em) {
    .valid-phone,
    .fill-all {
      width: 90%;
      height: 70%;
      padding: 1rem; } }

.nav {
  position: fixed;
  color: #fff;
  width: 100vw;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
  font-weight: bold;
  z-index: 888; }
  .nav__list {
    width: 35%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; }
    @media only screen and (max-width: 37.5em) {
      .nav__list {
        width: 80%; } }
    .nav__list a {
      color: white;
      text-decoration: none;
      text-transform: uppercase; }
  .nav__list-item--2 {
    cursor: pointer; }

.main {
  position: relative;
  margin-top: -7rem;
  color: #000; }
  @media only screen and (max-width: 75em) {
    .main {
      margin-top: 0; } }

.main-menu {
  background-color: #000;
  opacity: 1;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  font-size: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .main-menu {
      font-size: 2.5rem; } }
  .main-menu__item:not(:last-child) {
    margin-bottom: 3.5rem; }
  .main-menu__quote {
    color: #fff;
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(-90deg);
    letter-spacing: 0.3rem; }
    @media only screen and (max-width: 56.25em) {
      .main-menu__quote {
        transform: rotate(0);
        top: 78%;
        margin: 0 auto;
        text-align: center;
        width: 100%; } }
  .main-menu__brand {
    color: #fff;
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: 1rem;
    position: relative; }
  .main-menu__job {
    color: #fff;
    font-size: 1.7rem;
    margin-bottom: 10rem;
    letter-spacing: 0.6rem; }
  .main-menu__item {
    transition: all 0.5s;
    font-size: 2.5rem;
    cursor: pointer;
    background-color: #fff;
    width: 40%;
    text-align: center;
    border: 3px solid transparent; }
    @media only screen and (max-width: 37.5em) {
      .main-menu__item {
        width: 100%; } }
  .main-menu__item:hover {
    background-color: #000;
    color: #fff;
    border: 3px solid #fff; }

.about-popup {
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s; }
  .about-popup__about, .about-popup__about-text {
    text-align: center;
    width: 70rem; }
    @media only screen and (max-width: 75em) {
      .about-popup__about, .about-popup__about-text {
        width: 45rem; } }
    @media only screen and (max-width: 37.5em) {
      .about-popup__about, .about-popup__about-text {
        width: 40rem; } }
  .about-popup__about {
    letter-spacing: 0.6rem;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 2.5rem; }
  .about-popup__about-text {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.6rem; }
  .about-popup__quote {
    color: #fff;
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    left: -13%;
    transform: rotate(-90deg);
    letter-spacing: 0.3rem; }
    @media only screen and (max-width: 75em) {
      .about-popup__quote {
        transform: rotate(0);
        top: 85%;
        left: 0;
        text-align: center;
        width: 100%;
        text-align: center; } }

.footer {
  background-color: #000;
  height: 10vh;
  text-align: center;
  display: flex;
  align-items: flex-start;
  z-index: 999; }
  .footer__rights {
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 1.6rem;
    text-decoration: none; }

.portfolio-popup {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .portfolio-popup {
      justify-content: space-between;
      padding: 2rem; } }
  .portfolio-popup__image {
    order: 2;
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .portfolio-popup__image--the-image {
      position: absolute;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 350px;
      height: 450px; }
      @media only screen and (max-width: 75em) {
        .portfolio-popup__image--the-image {
          width: 350px;
          height: 450px; } }
      @media only screen and (max-width: 37.5em) {
        .portfolio-popup__image--the-image {
          width: 230px;
          height: 300px; } }
  .portfolio-popup__next {
    order: 3;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
    transform: rotate(-50deg);
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 999; }
  .portfolio-popup__previous {
    order: 1;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
    transform: rotate(-50deg);
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 999; }
  .portfolio-popup__quote {
    color: #fff;
    position: absolute;
    top: 90%;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .portfolio-popup__quote {
        margin-left: -1rem; } }

.contact-popup {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contact-popup__heading {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center; }
  .contact-popup__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 240px; }
    @media only screen and (max-width: 75em) {
      .contact-popup__form {
        width: 70%; } }
    @media only screen and (max-width: 75em) {
      .contact-popup__form {
        width: 85%; } }
    @media only screen and (max-width: 37.5em) {
      .contact-popup__form {
        width: 90%; } }
    .contact-popup__form--label {
      color: white;
      font-size: 1.5rem; }
    .contact-popup__form--input {
      text-align: center;
      margin-bottom: 1rem;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      height: 50px; }
      .contact-popup__form--input:last-of-type {
        background-image: linear-gradient(45deg, #f3ff19 0%, #fff 100%);
        outline: none;
        border: 0;
        border-radius: 1rem;
        color: #000;
        font-weight: 800;
        cursor: pointer; }
        .contact-popup__form--input:last-of-type:active {
          transform: translateY(0.5rem); }
      @media only screen and (max-width: 75em) {
        .contact-popup__form--input {
          width: 50%; } }
      @media only screen and (max-width: 37.5em) {
        .contact-popup__form--input {
          width: 90%; } }

.thankyou-box {
  background-color: #000;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .thankyou-box__heading {
    font-size: 7rem; }
  .thankyou-box__soon {
    font-size: 3.5rem;
    margin-left: 30%; }
    @media only screen and (max-width: 37.5em) {
      .thankyou-box__soon {
        margin-left: 0;
        font-size: 3rem; } }
  .thankyou-box__timer {
    font-size: 3.5rem; }

@keyframes ecolizer1 {
  0% {
    height: 1rem; }
  20% {
    height: 3rem; }
  40% {
    height: 2rem; }
  70% {
    height: 1rem; }
  100% {
    height: 3rem; } }

@keyframes ecolizer2 {
  0% {
    height: 3rem; }
  20% {
    height: 2rem; }
  40% {
    height: 3rem; }
  70% {
    height: 1rem; }
  100% {
    height: 2rem; } }

@keyframes ecolizer3 {
  0% {
    height: 1rem; }
  20% {
    height: 3rem; }
  40% {
    height: 3rem; }
  70% {
    height: 2rem; }
  100% {
    height: 1rem; } }

@keyframes ecolizer4 {
  0% {
    height: 2rem; }
  20% {
    height: 1rem; }
  40% {
    height: 2rem; }
  70% {
    height: 3rem; }
  100% {
    height: 1rem; } }
