@keyframes ecolizer1 {
    0% {
        height: 1rem;
    }

    20% {
        height: 3rem;
    }

    40% {
        height: 2rem;
    }

    70% {
        height: 1rem;
    }

    100% {
        height: 3rem;
    }
}

@keyframes ecolizer2 {
    0% {
        height: 3rem;
    }

    20% {
        height: 2rem;
    }

    40% {
        height: 3rem;
    }

    70% {
        height: 1rem;
    }

    100% {
        height: 2rem;
    }
}

@keyframes ecolizer3 {
    0% {
        height: 1rem;
    }

    20% {
        height: 3rem;
    }

    40% {
        height: 3rem;
    }

    70% {
        height: 2rem;
    }

    100% {
        height: 1rem;
    }
}


@keyframes ecolizer4 {
    0% {
        height: 2rem;
    }

    20% {
        height: 1rem;
    }

    40% {
        height: 2rem;
    }

    70% {
        height: 3rem;
    }

    100% {
        height: 1rem;
    }
}