// BASE SETTINGS OF PROJECT

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px;
  @include respond(tab-land) {
    // width < 1200 ??? (For example: 1100, 1000, 950)
    font-size: 56.25%; // 1rem = 9px; 9/16px = 56.25%;
  }
  @include respond(tab-port) {
    // width < 900 ??? (For example: 800, 700, 600, 500, 400 ,300 ,200, 100)
    font-size: 50%; // 1rem = 8px; 8/16px = 50%;
  }
  @include respond(big-desktop) {
    // width > 1800 ? (For example: 1900, 2000, 2100 ....)
    font-size: 75%; // 1rem = 12px; 12/16px = 75%;
  }
}

body {
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
}
