.close {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  cursor: pointer;
  fill: $color-white;
  transition: all 0.4s;
  z-index: 999;
  &:hover {
    transform: rotate(120deg);
    fill: $color-gray;
  }
  @include respond(phone) {
    top: 7rem;
  }
}

.ecolizer-box {
  cursor: pointer;
  width: 5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  position: relative;
  &__cancel {
    background-color: rgba(255, 12, 0, 0.8);
    width: 1rem;
    height: 90%;
    position: absolute;
    top: 1px;
    left: 2rem;
    transform: rotate(65deg);
  }
  &__item {
    width: 0.5rem;
    height: 1rem;
    background-color: white;
    &:not(:last-child) {
      margin-right: 0.3rem;
    }

    &--1 {
      animation-name: ecolizer1;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      background-color: $color-white;
    }

    &--2 {
      animation-name: ecolizer2;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      background-color: $color-white;
    }

    &--3 {
      background-color: $color-white;
      animation-name: ecolizer3;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      background-color: $color-white;
    }

    &--4 {
      animation-name: ecolizer4;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      background-color: $color-white;
    }
  }
}

#audio {
  height: 0;
  width: 0;
  display: none;
}


// Errors from form 
  .valid-phone,
  .fill-all {
    width: 50%;
    height: 50%;
    text-align: center;
    @include absCenter;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background-color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 800;
    @include respond(tab-land) {
      width: 65%;
      height: 65%;
    }

    @include respond(tab-port) {
      width: 80%;
      height: 80%;
    }

    @include respond(phone) {
      width: 90%;
      height: 70%;
      padding: 1rem;
    }
  }