.nav {
  position: fixed;
  color: $color-white;
  width: 100vw;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
  font-weight: bold;
  z-index: 888;
  &__list {
    width: 35%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    @include respond(phone) {
      width: 80%;
    }
    a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  &__list-item--2 {
    cursor: pointer;
  }
}

.main {
  position: relative;
  margin-top: -7rem;
  color: $color-black;
  @include respond(tab-land) {
    margin-top: 0;
  }
}

.main-menu {
  background-color: $color-black;
  opacity: 1;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  font-size: 3rem;
  @include respond(phone) {
    font-size: 2.5rem;
  }
  &__item:not(:last-child) {
    margin-bottom: 3.5rem;
  }
  &__quote {
    color: $color-white;
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(-90deg);
    letter-spacing: 0.3rem;
    @include respond(tab-port) {
      transform: rotate(0);
      top: 78%;
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }
  }
  &__brand {
    color: $color-white;
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: 1rem;
    position: relative;
  }
  &__job {
    color: $color-white;
    font-size: 1.7rem;
    margin-bottom: 10rem;
    letter-spacing: 0.6rem;
  }
  &__item {
    transition: all 0.5s;
    font-size: 2.5rem;
    cursor: pointer;
    background-color: $color-white;
    width: 40%;
    text-align: center;
    border: 3px solid transparent;
    @include respond(phone) {
      width: 100%;
    }
  }
  &__item:hover {
    background-color: $color-black;
    color: $color-white;
    border: 3px solid $color-white;
  }
}

.about-popup {
  background-color: $color-black;
  color: $color-white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  &__about,
  &__about-text {
    text-align: center;
    width: 70rem;
    @include respond(tab-land) {
      width: 45rem;
    }
    @include respond(phone) {
      width: 40rem;
    }
  }
  &__about {
    letter-spacing: 0.6rem;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
  &__about-text {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 1.6rem;
  }
  &__quote {
    color: $color-white;
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    left: -13%;
    transform: rotate(-90deg);
    letter-spacing: 0.3rem;
    @include respond(tab-land) {
      transform: rotate(0);
      top: 85%;
      left: 0;
      text-align: center;
      width: 100%;
      text-align: center;
    }
  }
}

.footer {
  background-color: $color-black;
  height: 10vh;
  text-align: center;
  display: flex;
  align-items: flex-start;
  z-index: 999;
  &__rights {
    color: $color-white;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 1.6rem;
    text-decoration: none;
  }
}

.portfolio-popup {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-black;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  @include respond(phone) {
    justify-content: space-between;
    padding: 2rem;
  }

  &__image {
    order: 2;
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &--the-image {
      position: absolute;
      @include absCenter;
      width: 350px;
      height: 450px;
      @include respond(tab-land) {
        width: 350px;
        height: 450px;
      }
      @include respond(tab-port) {

      }
      @include respond(phone) {
        width: 230px;
        height: 300px;
      }
    }
  }
  &__next {
    order: 3;
    color: $color-white;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
    transform: rotate(-50deg);
    background-color: rgba(255,255,255,.3);
    z-index: 999;
  }
  &__previous {
    order: 1;
    color: $color-white;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
    transform: rotate(-50deg);
    background-color: rgba(255,255,255,.3);
    z-index: 999;
  }

  &__quote {
    color: $color-white;
    position: absolute;
    top: 90%;
    text-align: center;

    @include respond(phone) {
      margin-left: -1rem;
    }
  }
}

.contact-popup {
  background-color: $color-black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 240px;
    @include respond(tab-land) {
      width: 70%;
    }

    @include respond(tab-land) {
      width: 85%;
    }

    @include respond(phone) {
      width: 90%;
    }
    &--label {
      color: white;
      font-size: 1.5rem;
    }
    &--input {
      text-align: center;
      margin-bottom: 1rem;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      height: 50px;
      &:last-of-type {
        background-image: linear-gradient(45deg, #f3ff19 0%, #fff 100%);
        outline: none;
        border: 0;
        border-radius: 1rem;
        color: $color-black;
        font-weight: 800;
        cursor: pointer;
        &:active {
          transform: translateY(0.5rem);
        }
      }
      @include respond(tab-land) {
        width: 50%;
      }

      @include respond(phone) {
        width: 90%;
      }
    }
  }
}

.thankyou-box {
  background-color: $color-black;
  height: 100vh;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__heading {
    font-size: 7rem;
  }

  &__soon {
    font-size: 3.5rem;
    margin-left: 30%;
    @include respond(phone) {
      margin-left: 0;
      font-size: 3rem;
    }
  }

  &__timer {
    font-size: 3.5rem;
  }
}
